<footer><p><span>Copyright &copy;{{ $.Site.Lastmod.Year }} Erik McClure</span> <a href="{{ .Site.BaseURL }}sitemap.xml">Sitemap</a> | <a href="{{ .Site.BaseURL }}blog/index.xml">RSS Feed</a></p></footer>
</div>
<script>"use strict";
window.onload = function(){
  var t = document.getElementsByClassName('math');
  for (var i = 0, len = t.length; i < len; i++) {
    renderMathInElement(t[i], { delimiters: [ {left: "$$", right: "$$", display: false}, {left: "\\[", right: "\\]", display: true} ] });
  }
}
</script>
</body>
</html>