{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<main class="blog">
  <section id="rendermath">
    <meta itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" content="{{ .Site.BaseURL }}"/>
    <meta itemprop="dateModified" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
    <meta itemprop="headline" content="{{ .Title }}">
    <meta itemprop="description" content="{{ .Summary }}">
    <meta itemprop="url" content="{{ .Permalink }}">
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{ .Site.BaseURL }}{{ .Site.Params.image }}">
        <meta itemprop="width" content="140">
        <meta itemprop="height" content="140">
      </div>
      <meta itemprop="name" content="{{ .Site.Title }}">
    </div>
    <div itemprop="author" itemscope itemtype="https://schema.org/Person">
      <meta itemprop="name" content="{{ .Params.Author.name }}">
    </div>
    <article>
      <h4>{{ .Title }}</h4>
      <hr/>
      <div class="padding">{{ .Content }}</div>
      <hr/>
      <time itemprop="datePublished" pubdate="pubdate" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}"><i class="fa fa-clock-o fa-fw"></i> Published on <a href="{{ .Permalink }}">{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "January 2, 2006 at 3:04pm" }}{{ end }}</a></time>
      <aside><i class="fa fa-share-square-o fa-fw"></i> share this</aside>
    </article>
    <article>
    <h6>Comments are disabled</h6>
    </article>
  </section>
  {{ partial "archive.html" . }}
</main>
{{ partial "foot.html" . }}
